@import "../../global-styles/variables";
@import "../../global-styles/maxins";

.sign_In__wrapper {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  @include xs {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  @include lg {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.hero__section {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  @include xs {
    display: none;
  }
  @include md {
    display: none;
  }
  @include lg {
    display: flex;
  }
}
.sign_in__form__wrapper {
  height: 100vh;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  justify-self: end;
  @include xs {
    width: 100vw;
    box-sizing: border-box;
    box-shadow: none;
    padding: 3rem;
  }
  @include sm {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
  }
  @include lg {
    padding-left: 8rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: $shadow;
  }
}

.lendsqr__logo {
  position: fixed;
  top: 4rem;
  left: 5rem;
}

.sign__in__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;

  @include xs {
    width: 100%;
    box-sizing: border-box;
  }
  @include lg {
    
    width: 450px;
    box-sizing: border-box;
  }
}

.welcome__text {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: $darkblue-variant1;
}

.sub__text {
  font-family: "Avenir Next";
  font-style: normal;
  font-size: 20px;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: $darkblue-variant1;
  margin-bottom: 4rem;
}

.form__input__wrapper {
  font-family: "Avenir Next";
  border: 1px solid $darkblue-variant3;
  color: $darkblue-variant2;
  width: 400px;
  border-radius: 0.5rem;
  display: flex;

  @include xs {
    display: flex;
    width: 100%;
  }
}

.password__input {
  font-family: "Avenir Next";
  border: none;
  outline: none;
  width: 100%;
  height: 3rem;
  margin-left: 0.8rem;
  border-radius: 0.5rem;
}

.show__password__btn {
  border: none;
  color: $aqua-accent;
  background-color: transparent;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  padding: 0.8rem;
}

.show__password__btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.4s;
}

.forgot__password__link {
  color: $aqua-accent;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.8rem 0;
  font-size: 13px;
}

.sign_in__btn {
  background-color: $aqua-accent;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0;
}
