@import "./variables";

@mixin vertical-list($align-items) {
  display: flex;
  align-items: $align-items;
  flex-direction: column;
}
@mixin horizontal-list {
  display: flex;
  flex-direction: row;
}
@mixin card {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow;
}

@mixin strong-text($size) {
  font-size: $size;
  color: $darkblue-variant1;
  font-weight: 600;
}
