$white: #fff;
$darkblue-variant1: #213f7d;
$darkblue-variant2: #545f7d;
$darkblue-variant3: rgba(84, 95, 125, 0.15);
$aqua-accent: #39cdcc;
$pink-accent: #df18ff;
$blue-accent: #5718ff;
$red-accent-variant1: #f55f44;
$red-accent-variant2: #ff3366;
$background-gray: #f6f3f3;
$shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
