@import "../../global-styles/variables";
@import "../../global-styles/maxins";

.user__details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: $darkblue-variant1;
  margin-bottom: 2rem;
  @include xs {
    flex-direction: column;
    align-items: start;
    gap:1rem
  }
  @include sm {
    flex-direction: row;
    align-items: center;
    gap:1rem;
  }
}

.action__btns__wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.user__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.action__btn {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

.action__btn:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.success {
  color: $aqua-accent;
  border: 1px solid $aqua-accent;
}

.error {
  color: $red-accent-variant1;
  border: 1px solid $red-accent-variant1;
}
.user__detail__card__wrapper {
  background-color: $white;
  box-shadow: $shadow;
  border-radius: $border-radius;
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.user__detail__card {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin-bottom: 2rem;
  @include xs {
    flex-direction: column;
    align-items: start;
  }
  @include sm {
    flex-direction: row;
    align-items: center;
  }
}

.user__basic__details {
  display: flex;
  gap: 2rem;
  @include xs {
    flex-direction: column;
    gap: 0rem;
    justify-content: left;
  }
  @include sm {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}

.user__detail__card__item {
  @include vertical-list("start");
  text-align: left;
  
  color: $darkblue-variant2;
  height: fit-content;
  min-height: 50px;

  @include xs {
    border: 0;
    padding: 0.2rem;
  }
  @include sm {
    padding: 1rem;
    padding-right: 3rem;
    border-right: 0.8px solid $darkblue-variant3;
  }
}

.user__detail__card__item:last-child {
  border-right: 0;
}

.user__fullname,
.user__account__balance {
  @include strong-text(20px);
}

.account__number {
  font-size: 12px;
  color: $darkblue-variant1;
}

.user__tier__title {
  @include xs {
    font-size: smaller;
  }
}

.truncate {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}
