@import "../../../../global-styles/variables";
@import "../../../../global-styles/maxins";

.table__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.filter__btn {
  background-color: transparent;
  border: 0;
  position: relative;
}

.filter__field {
  @include vertical-list("center");
  gap: 0.6rem;
  width: 250px;
}

.filter__input {
  padding: 0.5rem;
  border: 1px solid $darkblue-variant3;
  color: $darkblue-variant2;
  border-radius: $border-radius;
  background-color: transparent;
}
.filter__input:hover,
.filter__input:focus {
  border: 1px solid $aqua-accent;
  outline: none;
}

.filter__footer {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

.more__actions__wrapper {
  @include vertical-list("center");
  gap: 1rem;
}

.more__actions__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  gap: 0.5rem;
}

.more__actions__btn:hover {
  color: $aqua-accent;
  transition: 0.2s;
}

.user__status {
  color: $aqua-accent;
  background-color: #39CD6226;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  width: fit-content;
}
table {
  background-color: $white;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

th {
  font-size: 12px;
  text-transform: uppercase;
  color: $darkblue-variant2;
  text-align: left;
  font-weight: 600;
  padding-bottom: 1rem;
}

td {
  font-size: 12px;
  // text-transform: uppercase;
  color: $darkblue-variant2;
  text-align: left;
  font-weight: 400;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid $darkblue-variant3;
}

.tr {
  border-bottom: 1px solid $darkblue-variant3;
}
.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  color: $darkblue-variant2;
  margin: 1rem 0;
  font-size: 12px;
}

select {
  background-color: $darkblue-variant3;
  color: $darkblue-variant2;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.page__item {
  color: $darkblue-variant2;
  opacity: 0.4;
}
.page__item:hover {
  cursor: pointer;
}
.active__page {
  font-weight: bolder;
  color: $darkblue-variant2;
  opacity: 1;
}

.next__page__link,
.prev__page__link {
  background-color: $darkblue-variant3;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}
.next__page__link:hover,
.prev__page__link:hover {
  cursor: pointer;
}
