@import "../../../../global-styles/variables";
@import "../../../../global-styles/maxins";

.logo {
  width: 150px;
  height: 100%;
  box-sizing: border-box;
  @include md {
    width: 100px;
  }
  @include md {
    width: 100px;
  }
}

.header__wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 1.5rem;
  background-color: #fff;
  color: $darkblue-variant2;
  z-index: 3;
  display: flex;
  gap: 2rem;
  max-height: 100px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.hamburger__menu {
  border: 0;
  background-color: transparent;
  color: $darkblue-variant1;
}
.header__content__wrapper {
  display: flex;
  gap: 2rem;
  max-height: 100px;
  justify-content: space-between;
  
  @include md {
    width: auto;
  }
  @include lg {
    width: 80%;
  }
  box-sizing: border-box;
}
.search__input__wrapper {
  gap: 0;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  @include md {
    display: none;
  }
  @include lg {
    display: flex;
  }
}
.search__input {
  padding: 0.8rem;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $darkblue-variant3;

  border-radius: 0.4rem 0 0 0.4rem;

  @include md {
    width: 200px;
  }
  @include lg {
    width: 400px;
  }
}

.search__input:focus {
  outline: $aqua-accent 0.5px solid;
}

.search__btn {
  background-color: $aqua-accent;
  color: $white;
  border: 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  margin: 0;
}
.header__links__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.notifications__btn {
  border-radius: 50%;
  border: 0;
  background-color: transparent;
}
.notifications__btn:hover {
  cursor: pointer;
  color: $aqua-accent;
}
.profile__btn {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile__btn > img {
  width: 2.5rem;
}
.profile__btn:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.4s;
}

.docs__link {
  color: $darkblue-variant2;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}
