@import "../../../../styles/variables";
table {
  background-color: $white;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem;
  box-shadow: $shadow;
  border-radius: $border-radius;
}

th {
  font-size: 12px;
  text-transform: uppercase;
  color: $darkblue-variant2;
  text-align: left;
  font-weight: 600;
  padding-bottom: 1rem;
}

td {
  font-size: 12px;
  // text-transform: uppercase;
  color: $darkblue-variant2;
  text-align: left;
  font-weight: 400;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid $darkblue-variant3;
}

.tr {
  border-bottom: 1px solid $darkblue-variant3;
}
.pagination__wrapper {
  display: flex;
  justify-content: space-between;
  color: $darkblue-variant2;
  margin: 1rem 0;
  font-size: 12px;
}

select {
  background-color: $darkblue-variant3;
  color: $darkblue-variant2;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}
